<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>crm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>


<!--
  add/create 添加/创建操作
  save 保存操作
  updata 更新操作
  edit 编辑操作
  get 获取操作
  特殊操作...



-->
  <filter>
    <filter-name>webfilter</filter-name>
    <filter-class>com.bjpower.crm.web.filter.Encordingfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>webfilter</filter-name>
  <url-pattern>*.do</url-pattern>   <!--   通配符前千万不能加/不然程序运行不了-->
  </filter-mapping>
  <filter>
    <filter-name>loginfilter</filter-name>
    <filter-class>com.bjpower.crm.web.filter.loginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginfilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.jsp</url-pattern>   <!--   通配符前千万不能加/不然程序运行不了-->
  </filter-mapping>


  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.bjpower.crm.settings.web.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/setting/user/save.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>activityController</servlet-name>
    <servlet-class>com.bjpower.crm.workbench.web.controller.ActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>activityController</servlet-name>
    <url-pattern>/workbench/user/userlist.do</url-pattern>
  </servlet-mapping>



</web-app>

































































